setuptools>=46.0
wheel
build
Cython
pandas
geopandas
openpyxl
numpy
scipy
scikit-learn
flask
flask_httpauth
flask_caching
gunicorn
notebook
ipykernel
jupyter_dash
colorama
tables
plotly
matplotlib
isort
fortls
pytest
pytest-html
docker